<!DOCTYPE html>
<html>
<head>

<title>Profile</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>

<nav class="navbar navbar-expand-lg shadow"
     style="background: linear-gradient(90deg, #0f172a, #1e3a8a);">

    <div class="container-fluid">

        <a class="navbar-brand fw-bold fs-4 text-white d-flex align-items-center" href="/">

    <img src="{{ url_for('static', filename='images/logo.jpeg') }}"
         width="42"
         height="42"
         class="me-2 rounded-circle">

    <span style="letter-spacing:1px;">
        Smart Complaint System
    </span>

</a>

        <div>

            <a href="/dashboard" class="btn btn-primary rounded-pill px-4">
                Dashboard
            </a>

            <a href="/history" class="btn btn-success rounded-pill px-4">
                History
            </a>

            <a href="/logout" class="btn btn-danger rounded-pill px-4">
                Logout
            </a>

        </div>

    </div>

</nav>

<div class="container mt-5">

<div class="card shadow">

<div class="card-body">

<h2 class="text-center mb-4">
<i class="bi bi-person-circle"></i>
My Profile
</h2>

<p class="text-center text-muted">
    View and manage your account information.
</p>

<table class="table table-bordered table-striped">

<tr>
<th>Name</th>
<td>{{ user[0] }}</td>
</tr>

<tr>
<th>Email</th>
<td>{{ user[1] }}</td>
</tr>

<tr>
<th>Mobile</th>
<td>{{ user[2] }}</td>
</tr>

<tr>
<th>Role</th>
<td>{{ user[3] }}</td>
</tr>

</table>

<br>

<a href="/edit_profile" class="btn btn-warning me-2">
    <i class="bi bi-pencil-square"></i>
    Edit Profile
</a>

<a href="/change_password" class="btn btn-primary me-2">
    <i class="bi bi-key-fill"></i>
    Change Password
</a>

<br><br>

<a href="/dashboard" class="btn btn-secondary">
    <i class="bi bi-arrow-left"></i>
    Back
</a>

</div>
</div>
</div>

<footer class="bg-dark text-white text-center p-3 mt-5">

    © 2026 Smart Complaint Management & Tracking System |
    Developed by <strong>Raushan Kumar Lal</strong>

</footer>

</body>
</html>